<div style="max-width: 300px;" ng-form="ng-form" name="uploadForm" class="upload-form">

    <div class="form-group">
        <input  ng-model="text" type="text" />
        <span class="left-span">Add File</span>
        <uploader  text="Add File"></uploader>
        <button type="submit" ng-click="Submit()" class="btn btn-default">Submit</button>



    </div>
</div>


<dtable options="options" rows="data" class="material" >
</dtable>