head
    title Locdel Admin
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel="stylesheet", href="/css/admin.css")
    link(rel="stylesheet", href="/css/json-formatter.css")
    link(rel="stylesheet", href="/css/angular-bootstrap-lightbox.min.css")
    link(rel="stylesheet", href="/css/dataTable.css")
    link(rel="stylesheet", href="/css/material.css")
    link(rel="stylesheet", href="/css/ob-daterangepicker.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css")

    if env === 'production'
        base(href="/")
    else
        base(href="/admin/")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js" type="text/javascript")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js" type="text/javascript")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-messages.min.js" type="text/javascript")
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script(src="/js/ui-bootstrap.min.js" type="text/javascript")
    script(src="/js/ui-bootstrap-tpls.min.js" type="text/javascript")
    script(src="/js/angular-bootstrap-lightbox.min.js" type="text/javascript")
    script(src="/js/json-formatter.min.js" type="text/javascript")
    script(src="/js/moment.min.js" type="text/javascript")
    script(src="/js/ob-daterangepicker.js" type="text/javascript")
    script(src="/js/dataTable.min.js" type="text/javascript")
    script(src="/js/locdel.js" type="text/javascript")
