
form(role="form", action="/api/photo", method="post", enctype="multipart/form-data")
   div(class="form-group")
      label(for="onixfile") Upload ONIX File
      input(type="file", name="photo", id="photo")
