
.container(ng-app='app' )
    h1 Locdel Admin Page
    p.lead Please login only if you admin.
    br
    .login-form( style='max-width: 300px;', ng-controller="Login" ng-form name="loginForm" ng-keypress="myFunct($event)")
        .form-group
            input.form-control(type='email', name="username", placeholder='Enter Username', ng-model='username', ng-required="true")
        .form-group
            input.form-control(type='password', name="password", placeholder='Password', ng-model='password' ng-minlength="6", ng-required="true")
        button.btn.btn-default(type='submit', ng-click='submit()') Submit
        uib-alert.simple-margin(type="danger", ng-show="err")= 'Error: ' + '{{err.message}}'
