div.col-xs-12
    div
        .btn-group
            #{userType}
            label.btn.btn-default(ng-model='showUsers', uib-btn-checkbox) {{showUsers ? 'Find Orders': 'Find Users'}}
    include users-table.html
div.col-xs-12(ng-show="!showUsers")
    include orders-table.html