<div class="dt-header-custom bottom15">
    <div>
        <div class="search-box col-xs-12 row top10 bottom10">
            <div class="col-xs-3 row">
                <search find="search"></search>
            </div>
            <div class="btn-group col-xs-5">
                <label class="btn btn-primary" ng-model="filter.column" btn-radio="b.value"
                       ng-repeat="b in searchFields">{{b.name}}</label>
            </div>
        </div>
        <div class="col-xs-12 row">
            <div class="col-xs-3 row">
                <date-picker range="dateRange" opens="right"></date-picker>
            </div>
            <div class="col-xs-6">
                <div>
                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="filter.state" btn-radio="b"
                               ng-repeat="b in states">{{b.name}}</label>
                    </div>
                </div>
                <div class="btn-group top10 bottom10">
                    <label class="btn btn-primary" ng-model="filter.city" btn-radio="b.value"
                           ng-repeat="b in filter.state.cities">{{b.name}}</label>
                </div>
            </div>
        </div>
    </div>
</div>
<dtable options="options" rows="data" class="material" on-page="paging(offset, size)" on-sort="sorting(sorts)">
</dtable>
<div class="dt-total row text-center" ng-if="userType == 0">
    <div class="col-xs-2">
        <span>Pending: </span>
        <span>{{total.statusTotal[OrderStatus.PENDING].count || 0}}</span>
    </div>

    <div class="col-xs-2">
        <span>Complete: </span>
        <span>{{total.statusTotal[OrderStatus.COMPLETED].count || 0}}</span>
    </div>

    <div class="col-xs-2">
        <span>Hold: </span>
        <span>{{total.statusTotal[OrderStatus.HOLD].count || 0}}</span>
    </div>

    <div class="col-xs-2">
        <span>Cancel: </span>
        <span>{{total.statusTotal[OrderStatus.CANCELED].count || 0}}</span>
    </div>
    <div class="col-xs-4">
        <span>Amount: </span>
        <span>{{total.amount| currency:"USD$"}}</span>
    </div>
</div>
