.order-wrapper
    .order
        .info.col-xs-12
            .h4= "Order Info"
            .info-container
                .form-group.order-creator='Customer: ' + order.user.email
                .form-group.order-driver='Driver: ' + (order.driver || {}).email
                .form-group.order-type='Order Type: ' +  order.type
                .form-group.order-status='Order Status: ' +  order.status
                .form-group.order-filters='TransportType: ' +  order.filters.transportType
                if order.signURL
                    .form-group.order-sign(gallery)
                        .h5= "User Sign"
                        img.step-image(with='100px', height='100px', src=order.signURL)
            .h4= "Feedbacks"
            .info-container
                .form-group.col-xs-12
                    .form-group.order-feedback.col-xs-2='Customer Feedback: ' + (order.customerFeedback ? order.customerFeedback.mark : "Not exists")
                    .form-group.order-feedback-comment.col-xs-4=(order.customerFeedback && order.customerFeedback.comment || "Not commented")
                .form-group.col-xs-12
                    .form-group.order-feedback.col-xs-2='Driver Feedback: ' + (order.driverFeedback ? order.driverFeedback.mark : "Not exists")
                    .form-group.order-feedback-comment.col-xs-4=(order.driverFeedback && order.driverFeedback.comment || "Not commented" )
        .form-group.steps.col-xs-12
            .h4= "Order Steps"
            each step, index in order.steps
                .step.col-xs-4
                    .h5(gallery)='Step: ' + (index + 1)
                    .step-container
                        .form-group.step-type='Operation: ' + step.type
                        .form-group.step-address='Address: ' + step.address
                        .form-group.step-name='Name: ' + step.name
                        .form-group.step-contact='Contact: ' + step.contactNumber
                        .form-group.step-description='Description: ' + step.description
                        .form-group.step-special-request='Special Request: ' + step.specialRequest
                        .form-group.step-images= 'Images attached to step'
                        .h5= "Images"
                        for image in step.driverImages
                            img.step-image(with='100px', height='100px', src=image.url)
        .form-group.history.col-xs-12
            .h4= "Order History"
            each history, index in order.history
                .history-one.col-xs-12
                    .history-status.col-xs-2= history.status
                    .history-date.col-xs-2= "{{dateFormat('" + history.date + "')}}"
                    .history-data.col-xs-2= history.data && history.data.message
        .admin-comments.col-xs-12
            .h4= "Admin Comments"
            each comment, index in order.comments
                .comment= comment
            .input-group
                textarea.form-control.custom-control.comment-add(maxlength=1000, ng-model="comment")
                button.btn.btn-primary(ng-click="addComment()")= "Add Comment"