.payments
table.table
    thead
        tr
            th Payment Id
            th Customer
            th Driver
            th Method
            th Amount
    tbody
    each payment in payments
        tr
            .payment
                td
                    a(href='#payment/'+payment.id )=payment.id
                td= payment.order.user.email
                td= payment.order.driver.email
                td= payment.method || 'paypal'
                if payment.method === 'stripe'
                    td= (payment.captureResponse.amount / 1000) + ' ' + payment.captureResponse.currency
                else
                    td= payment.captureResponse.amount.total + ' ' + payment.captureResponse.amount.currency
