.div
    .payment-wrapper
    .payment
        .form-group.capitalize.order-creator='Payment Id: ' + payment._id
        .form-group.capitalize.order-creator
            span='Order Customer: '
            a(href="#user/" + payment.order.user._id)= payment.order.user.email
        .form-group.capitalize.order-driver
            span='Order Customer: '
            if payment.order.driver
                a(href="#user/" + payment.order.driver._id)= payment.order.user.email
            else
                span='Not Picked'
        .form-group.capitalize.order-driver
            span='Order Id: '
            a(href="#order/" + payment.order._id)= payment.order._id
        .form-group.capitalize.payment-status='Payment Status: ' + payment.status
        .form-group.capitalize.payment-method='Payment Method: ' + (payment.method || 'paypal')
        .form-group.capitalize.payment-method='Payment Authorization Code: ' + payment.authId
        uib-accordion
            uib-accordion-group(heading='Authorization config')
                json-formatter(json=JSON.stringify(payment.authPaymentConfig), open='1')
            uib-accordion-group(heading='Authorization response')
                json-formatter(json=JSON.stringify(payment.authResponse), open='1')
            uib-accordion-group(heading='Capture config')
                json-formatter(json=JSON.stringify(payment.capturePaymentConfig), open='1')
            uib-accordion-group(heading='Capture response')
                json-formatter(json=JSON.stringify(payment.captureResponse), open='1')

