.container(ng-controller="RegisterController")
    h1 Locdel User Registartion Page
    p.lead You can register user with simple info(they will be verified by default).
    br
    .login-form( style="max-width: 300px;",  ng-form name="registerForm")
        .form-group
            input.form-control(type="email", name="username", placeholder="Enter Username", ng-model="form.username", ng-required="true")
            div.error-message(ng-messages='registerForm.username.$error')
                div(ng-message='required') This field is required
                div(ng-message='email') Your email address is invalid
        .form-group
            input.form-control(type="password", name="password", placeholder="Password", ng-model="form.password" ng-minlength="6", ng-required="true")
            div.error-message(ng-messages='registerForm.password.$error')
                div(ng-message='required') This field is required
                div(ng-message='minlength') Your password must contain at least 6 symbols
        .form-group
            select.form-control(ng-model="userType", ng-init="userType='1'")
                option(value="1", ng-selected='true') Customer
                option(value="2") Driver
        .form-group
            input.form-control(type="text", name="firstName", placeholder="Enter Firstname", ng-model="form.firstName", ng-required="true")
            div.error-message(ng-messages='registerForm.firstName.$error')
                div(ng-message='required') This field is required
        .form-group
            input.form-control(type="text", name="lastName", placeholder="Enter Lastname", ng-model="form.lastName", ng-required="true")
            div.error-message(ng-messages='registerForm.lastName.$error')
                div(ng-message='required') This field is required
        button.btn.btn-default(type="submit", ng-click="submit()") Submit
    uib-alert.simple-margin(type="{{state.type || 'info'}}")= 'Message: ' + '{{state.message}}'