.container(ng-controller="AdminUserController")
    h1 Create admin user
    br
    .col-md-4
        .row
            form(name="newAdminUser", method="post", novalidate=true)
                .form-group(ng-class="{'has-error': (newAdminUser.username.$dirty || newAdminUser.$submitted) && newAdminUser.username.$error.required}")
                    label(for="username") Username
                    input#username.form-control(type="email", name="username", ng-model="form.username", required)
                    span(class="help-block" ng-show="(newAdminUser.username.$dirty || newAdminUser.$submitted) && newAdminUser.username.$error.required") This field is required
                .form-group(ng-class="{'has-error': (newAdminUser.password.$dirty || newAdminUser.$submitted) && newAdminUser.password.$error.required}")
                    label(for="password") Password
                    input#password.form-control(type="password", name="password", ng-model="form.password", required)
                    span(class="help-block" ng-show="(newAdminUser.password.$dirty || newAdminUser.$submitted) && newAdminUser.password.$error.required") This field is required
                .form-group
                    select.form-control(ng-model="userType", ng-init="userType='0'")
                        option(value="0", ng-selected='true') Owner
                        option(value="3") General Manager
                        option(value="4") Regular Manager
                        option(value="5") Employee
                .form-group(ng-class="{'has-error': (newAdminUser.firstName.$dirty || newAdminUser.$submitted) && newAdminUser.firstName.$error.required}")
                    label(for="firstName") Firstname
                    input#firstName.form-control(type="text", name="firstName", ng-model="form.firstName", required)
                    span(class="help-block" ng-show="(newAdminUser.firstName.$dirty || newAdminUser.$submitted) && newAdminUser.firstName.$error.required") This field is required
                .form-group(ng-class="{'has-error': (newAdminUser.lastName.$dirty || newAdminUser.$submitted) && newAdminUser.lastName.$error.required}")
                    label(for="lastName") Lastname
                    input#lastName.form-control(type="text", name="lastName", ng-model="form.lastName", required)
                    span(class="help-block" ng-show="(newAdminUser.lastName.$dirty || newAdminUser.$submitted) && newAdminUser.lastName.$error.required") This field is required
                .form-group
                    button.btn.btn-default(type="submit" ng-click="save()") Save
    .col-md-8
    uib-alert.simple-margin.col-md-12(type="{{state.type || 'info'}}")= 'Message: ' + '{{state.message}}'