doctype html
html
    head
        title Locdel
        link(rel='stylesheet', type='text/css', href='/css/reset.css')
        meta(name='viewport', content='width=device-width')
        base(href='/')
    body
        .wrapper
            .header
                img.logo(src='images/logo.png')
                img.site-name(src='images/site_name.png')
            form.confirm-pass-form
                .field
                    img(src='images/pass_icon.png')
                    input#pass-id(type='password', placeholder='New Password')
                .field
                    img(src='images/pass_icon.png')
                    input#pass-verify-id(type='password', placeholder='Verify Password')
                input(onclick='submitReset()', type='button', value='Submit')
    script.
        function submitReset() {
            var email = "#{username}";
            var token = "#{token}";
            var passField = document.getElementById("pass-id").value;
            var passVerifyField = document.getElementById("pass-verify-id").value;
            if (passField.length < 6)
                alert("Password must have at least 6 characters.");
            else if (passField != passVerifyField)
                alert("Password mismatch.");
            else {
                var http = new XMLHttpRequest();
                var body = {
                    email: email,
                    token: token,
                    password: passField
                };
                var url = "/api/reset";
                http.open("POST", url, true);
                body = JSON.stringify(body);
                http.setRequestHeader("Content-type", "application/json");
                http.onreadystatechange = function () {
                    if (http.readyState == XMLHttpRequest.DONE) {
                         var location = '/templates/';

                        if(JSON.parse(http.response).status === 'OK'){
                            window.location.href = location + 'reset-success.html'
                        } else {
                            window.location.href = location + 'reset-error.html'
                        }
                    }
                }
                http.send(body);
            }
        }
