<div class="dt-header-custom bottom15">
    <div class="col-xs-12">
        <div class="col-xs-2 bottom10">
            {{user.fistName}} {{user.lastName}}
            <br/>
            ({{user.type}})
        </div>
        <div class="col-xs-2" ng-if="userType != 5">
            <toggle-switch ng-model="userParam.blocked" is-disabled="disableSwitch"
                           ng-if="userParam.blocked !== undefined" knob-label="Blocked">
            </toggle-switch>
        </div>
        <div class="col-xs-6" gallery ng-if="user.car.images">
            <div class="col-xs-4 bottom5" ng-repeat="i in user.car.images">
                <span>{{i.name}}</span>
                <img height="30" src="{{i.value}}" caption="{{i.name}}" class="pull-right pointer"/>
            </div>

        </div>
        <div class="col-xs-2 files-holder" ng-show="userParam.type==='Driver'">
            <span class="labeling span60 pull-left">Claim</span>
            <span class="label label-default claim-label">{{user.files.claims.length || 0}}</span>
            <span class="left-span">
                <span ng-repeat="claim in user.files.claims">
                    <a href="{{downloadPath(claim.url, claim.filename)}}" target="_self">Claim {{$index + 1}}</a>
                    <br/>
                </span>
            </span>
            <br/>
            <div class="clearfix"></div>
            <span class="labeling span60 pull-left">Br. Ch.</span>
            <span class="left-span"><a target="{{user.files.backgroundCheck.url && '_self'}}"
                                       href="{{downloadPath(user.files.backgroundCheck.url, user.files.backgroundCheck.filename)}}">File</a></span>
            <span class="label label-default">{{user.files.backgroundCheck.url ? 'OK' : 'Not Exists'}}</span>
            <br/>
            <div class="clearfix"></div>
            <span class="labeling span60 pull-left">Au. Inc.</span>
            <span class="left-span"><a target="{{user.files.insurance.url && '_self'}}"
                                       href="{{downloadPath(user.files.insurance.url, user.files.insurance.filename)}}">File</a></span>
            <span class="label label-default">{{user.files.insurance.url ? 'OK' : 'Not Exists'}}</span>
            <br/>
            <div class="clearfix"></div>
            <span class="labeling span60 pull-left">Au. Reg.</span>
            <span class="left-span"><a target="{{user.files.registration.url && '_self'}}"
                                       href="{{downloadPath(user.files.registration.url, user.files.registration.filename)}}">File</a></span>
            <span class="label label-default">{{user.files.registration.url ? 'OK' : 'Not Exists'}}</span>
            <br/>
            <br/>
            <div class="clearfix"></div>
            <span class="left-span">Add File</span>
            <select ng-model="fileType" ng-options="option.value as option.name for option in fileTypeOptions">
            </select>
            <uploader text="Add File"></uploader>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="col-xs-2 bottom10">
            <span class="heading">Billing Address</span>
            <br/>
            <span>{{user.billingAddress}}</span>
            <br/>
            <span>{{user.city}} {{user.state}}</span>
            <br/>
            <span>{{user.contactNumber}}</span>
        </div>
        <div class="col-xs-2">
            <span class="heading">Default Address</span>
            <br/>
            <span>{{user.billingAddress}}</span>
            <br/>
            <span>{{user.city}} {{user.state}}</span>
            <br/>
            <span>{{user.contactNumber}}</span>
        </div>
        <div class="col-xs-2">
            <span class="heading">Card Information</span>
            <br/>
            <span>Stripe Card <span class="label label-default">{{user.hasStripeCard? 'Yes': 'No'}}</span></span>
            <br/>
            <span>Paypal <span class="label label-default">{{user.hasPaypal? 'Yes': 'No'}}</span></span>
        </div>
        <div class="col-xs-3">
            <span class="heading">Email/Member Since</span>
            <br/>
            <span>{{user.email}}</span>
            <br/>
            <span>{{user.created | dateFormat}}</span>
            <br/>
            <span class="left-span">Feedbacks: <span class="label label-default">{{user.feedback.count}}</span></span>
            <feedback mark="user.feedback.average" class="clearfix"></feedback>
            <button class="top10 btn btn-primary" type="button" ng-click="openFeedbacks()">See Feedbacks</button>
        </div>
        <div class="col-xs-3" ng-show="userParam.type==='Driver'">
            <span class="heading">Car details: </span>
            <br/>
            <span class="labeling">Year: </span> <span>{{user.car.year}}</span>
            <br/>
            <span class="labeling">Manufacturer: </span><span>{{user.car.manufacturer}}</span>
            <br/>
            <span class="labeling">Model:  </span><span>{{user.car.model}}</span>
            <br/>
            <span class="labeling inline-block left-span">Color</span> <span ng-style="{background: user.car.color}"
                                                                             class="little-square"></span>
            <br/>
            <span class="labeling">Lic. Plate: </span> <span>{{user.car.licensePlate}}</span>
            <br/>
            <span class="labeling">Type: </span> <span>{{user.car.type}}</span>
        </div>
    </div>

    <div>
        <div class="col-xs-12">
            <div class="col-xs-3 bottom10">
                <date-picker range="dateRange" opens="right"></date-picker>
            </div>
            <div class="col-xs-6">
            </div>
            <div class="col-xs-3">
            </div>
        </div>
    </div>
</div>
<dtable ng-if="user" options="options" rows="data" class="material" on-page="paging(offset, size)"
        on-sort="sorting(sorts)">
</dtable>
<div class="dt-total row text-center"  ng-if="userType == 0">
    <div class="col-xs-2">
        <span>Pending: </span>
        <span>{{total.statusTotal[OrderStatus.PENDING].count || 0}}</span>
    </div>

    <div class="col-xs-2">
        <span>Complete: </span>
        <span>{{total.statusTotal[OrderStatus.COMPLETED].count || 0}}</span>
    </div>

    <div class="col-xs-2">
        <span>Hold: </span>
        <span>{{total.statusTotal[OrderStatus.HOLD].count || 0}}</span>
    </div>

    <div class="col-xs-2">
        <span>Cancel: </span>
        <span>{{total.statusTotal[OrderStatus.CANCELED].count || 0}}</span>
    </div>
    <div class="col-xs-4">
        <span>Amount: </span>
        <span>{{total.amount| currency:"USD$"}}</span>
    </div>
</div>
<chat single="true" user="user._id" ng-if="user.email"></chat>
