<div ng-controller="UsersController" ng-show="showUsers">
    <div class="dt-header-custom bottom15">
        <div class="search-box col-xs-12 row top10 bottom10">
            <div class="col-xs-3 row">
                <search find="search"></search>
            </div>
            <div class="btn-group col-xs-6">
                <label class="btn btn-primary" ng-model="filter.column" btn-radio="b.value"
                       ng-repeat="b in searchFields">{{b.name}}</label>
            </div>
        </div>
        <div>
            <div class="col-xs-3 row">
                <date-picker range="dateRange" opens="right"></date-picker>
            </div>
            <div class="btn-group col-xs-6 bottom10">
                <label class="btn btn-primary" ng-model="filter.blocked" btn-radio="b.value"
                       ng-repeat="b in blockedFields">{{b.name}}</label>
            </div>

        </div>
        <div>
            <div class="col-xs-3 row">
            </div>
            <div class="btn-group col-xs-6 bottom10">
                <button class="btn btn-primary" ng-click="open()">send group msg</button>
            </div>

        </div>
    </div>
    <dtable options="options" rows="data" class="material" on-page="paging(offset, size)" on-sort="sorting(sorts)">
    </dtable>
</div>