div(ng-app='app')
    script.
        ll.value('user', {
            adminNumber: "#{user.adminNumber}",
            email: "#{user.email}"
        });
        ll.value('env', "#{env}")
        ll.value('userType', "#{user.type}")
    nav.navbar.navbar-default
        .container-fluid
            // Brand and toggle get grouped for better mobile display
            .navbar-header
                a.navbar-brand(href='.') Locdel
            .collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='./') Orders.
                    li
                        a(href='chat') Chat
                    li
                        a(href='register') Register User
                    li(ng-if="#{user.type} == 0 || #{user.type} == 3")
                        a(href='register_admin') Register Admin User

                    li(ng-if="#{user.type} == 0 || #{user.type} == 3")
                        a(href='advertisement') Advertisements

                    li(dropdown)
                        a(href='#', dropdown-toggle, role='button', aria-haspopup='true', aria-expanded='false')
                            | #{user.firstName} #{user.lastName}
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='./signout', target='_self') Sign out

    .main(ng-view)