input.ng-invalid {
    border: 1px solid #E81111 !important;
}

.capitalize {
    text-transform: capitalize;
}

.simple-margin {
    margin-top: 15px;
}

.pointer {
    cursor: pointer;
}

.step, .info-container, .history {
    padding-left: 10px;
}

.step .form-group {
    margin-bottom: 5px;
}

.step .step-container {
    padding-left: 10px;
}

.step img {
    margin: 2px;
}

.comment {
    padding: 10px;
    border: 1px solid #DADADA;
    margin-top: 5px;
}

.admin-comments textarea {
    margin-top: 5px;
}

.admin-comments button {
    margin-top: 5px;
}

.error-message {
    color: #D65D5D;
}

body {
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif !important;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.01rem;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
}

.dt {
    width: 100%;
    margin: 50px auto;
}

.dt .pager li > a, .pager li > span {
    border: none !important;
}

.dt .pager li {
    float: left;
}

.dt [class^="icon-"]:before, [class*=" icon-"]:before {
    line-height: 26px;
}

.feedback {
    font-size: 20px;
    color: #ffe400;
}

.top5 {
    margin-top: 5px;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top30 {
    margin-top: 30px;
}

.bottom5 {
    margin-bottom: 5px;
}

.bottom10 {
    margin-bottom: 10px;
}

.bottom15 {
    margin-bottom: 15px;
}

.bottom30 {
    margin-bottom: 30px;
}

.visible-text {
    word-break: break-word;
}

.auto {
    overflow: auto;
}

.click-like {
    color: #337ab7;
    cursor: pointer;
}

.popover {
    max-width: 350px !important;
}

.heading {
    font-size: 18px;
    color: #bbbbbb;
    font-weight: bolder;
}

.left-span {
    float: left;
    margin-right: 20px;
}

.little-square {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.inline-block {
    display: inline-block;
}

.labeling {
    color: #6d6d6d;
}

.span60 {
    display: inline-block;
    width: 60px;
}

.f-comment {
    padding: 5px;
    background: #ececec;
    border-radius: 10px;
}

.dt {
    margin-bottom: 0;
}

.dt-total {
    margin: 0 auto 50px;
    padding: .5rem 1.2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 16px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.dt-header-custom + .dt {
    margin-top: 0 !important;
}

.date-picker .picker {
    z-index: 9999999 !important;
}

.unused {
    background: #337ab7 !important;
}

ob-daterangepicker * {
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif !important;
}

.add-on .input-group-btn > .btn {
    border-left-width: 0;
    left: -2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* stop the glowing blue shadow */
.add-on .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #cccccc;
}

.input-group-btn .btn {
    height: 34px;
}

/*override some extensions*/
ob-daterangepicker .picker-dropdown-container .picker-dropdown {
    border: none !important;
}

ob-daterangepicker .picker-dropdown-container .picker-dropdown::after {
    border-color: #fff transparent transparent !important;
}

ob-daterangepicker {
    background: #286090;
    color: #fff;
    width: 100%;
}

ob-daterangepicker .ranges {
    color: #565154
}

.date-picker .input-group-btn .btn {
    height: 30px;
}

ob-daterangepicker .picker-dropdown-container .picker-dropdown {
    width: 100% !important;
}

.feedbacks-grid {
    overflow-y: scroll;
    max-height: 350px;
}

.word-break {
    word-break: break-all;
}

.claim-label {
    display: inline-block;
    margin: 4px;
}

.driver-photos > img {
    display: none;
    margin: 2px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.driver-photos img:nth-child(1) {
    display: initial !important;
}

.video_box {
    position:relative;
    margin: 2px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}



.no-border-radius {
    border-radius: 0;
}
.advertismentImg
{
    height: 50px;
    width: 50px;
}
.ats-switch {
    border: 1px solid;
    cursor: pointer;
    display: inline-block;
    text-align: left;
    overflow: hidden;
    line-height: 8px;
    min-width: 100px;
}
.ats-switch.disabled {
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: default !important;
}
.ats-switch.disabled .switch-left,
.ats-switch.disabled .switch-right,
.ats-switch.disabled .knob {
    cursor: default !important;
}
.ats-switch span {
    cursor: pointer;
    display: inline-block;
    float: left;
    line-height: 20px;
    padding: 4px;
    text-align: center;
    width: 33%;
    white-space: nowrap;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.ats-switch > div {
    position: relative;
    width: 150%;
}
.ats-switch .knob {
    background: red;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #f5f5f5;
    width: 34%;
    z-index: 100;
}
.ats-switch .switch-on {
    left: 0%;
}
.ats-switch .switch-off {
    left: -50%;
}
.ats-switch .swtich-left,
.ats-switch .switch-right {
    z-index: 1;
}
.ats-switch .switch-left {
    color: #fff;
    background: #005fcc;
}
.ats-switch .switch-right {
    color: #333;
    background: #f0f0f0;
}
.ats-switch .switch-animate {
    transition: left 0.5s;
    -o-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -webkit-transition: left 0.5s;
}
.ats-switch {
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid;
    border-color: #ccc;
    position: relative;
    text-align: left;
    overflow: hidden;
    line-height: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    vertical-align: middle;
    min-width: 100px;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.ats-switch:hover {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.ats-switch.disabled:hover {
    border-color: #ccc;
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);
    box-shadow: inset 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);
}
.ats-switch .knob {
    border-right: none;
    border-left: none;
    text-align: center;
    margin-top: -1px;
    margin-bottom: -1px;
    z-index: 100;
    background: #fff;
}
.ats-switch .knob i {
    color: #000;
    text-shadow: 0 1px 0 #fff;
    line-height: 18px;
    pointer-events: none;
}
.ats-switch .switch-left,
.ats-switch .switch-right,
.ats-switch .knob {
    min-height: 28px;
}
.ats-switch.switch-mini {
    min-width: 72px;
}
.ats-switch.switch-mini .switch-left,
.ats-switch.switch-mini .switch-right,
.ats-switch.switch-mini .knob {
    padding-bottom: 4px;
    padding-top: 4px;
    font-size: 10px;
    line-height: 9px;
    min-height: 18px;
}
.ats-switch.switch-mini i.switch-mini-icons {
    height: 1.20em;
    line-height: 9px;
    vertical-align: text-top;
    text-align: center;
    transform: scale(0.6);
    margin-top: -1px;
    margin-bottom: -1px;
}
.ats-switch.switch-small {
    min-width: 80px;
}
.ats-switch.switch-small .switch-left,
.ats-switch.switch-small .switch-right,
.ats-switch.switch-small .knob {
    padding-bottom: 3px;
    padding-top: 3px;
    font-size: 12px;
    line-height: 18px;
    min-height: 24px;
}
.ats-switch.switch-large {
    min-width: 120px;
}
.ats-switch.switch-large .switch-left,
.ats-switch.switch-large .switch-right,
.ats-switch.switch-large .knob {
    padding-bottom: 9px;
    padding-top: 9px;
    font-size: 16px;
    line-height: normal;
    min-height: 34px;
}
.ats-switch span.switch-left {
    color: #fff;
    background: #428bca;
}
.ats-switch span.switch-right {
    color: #000;
    background: #eeeeee;
}
.ats-switch.switch-primary span.switch-left {
    color: #fff;
    background: #428bca;
}
.ats-switch.switch-info span.switch-left {
    color: #fff;
    background: #5bc0de;
}
.ats-switch.switch-success span.switch-left {
    color: #fff;
    background: #5cb85c;
}
.ats-switch.switch-warning span.switch-left {
    background: #f0ad4e;
    color: #fff;
}
.ats-switch.switch-danger span.switch-left {
    color: #fff;
    background: #d9534f;
}
.ats-switch.switch-default span.switch-left {
    color: #000;
    background: #eeeeee;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-right: 60px;
}

.chat li.right .chat-body {
    margin-left: 60px;
}

.chat li .chat-body p {
    margin: 0;
    word-break: break-all;
    color: #777777;
}

.chat li .chat-body p.attachment {
    padding: 5px;
}

.chat li .chat-body p.attachment a {
    padding: 5px;
    border-radius: 5px;
    background: #e4e4e4;
}

.rooms .email {
    display: inline-block;
    width: 100%;
    padding-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rooms {
    height: 340px;
    overflow: auto;
}

.panel .slidedown .glyphicon, .chat .glyphicon, .rooms .glyphicon {
    margin-right: 5px;
}

.panel {
    overflow: auto;
}

.panel-body {
    overflow-y: auto;
    height: 250px;
}

.text-right {
    text-align: right;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.uploader {
    overflow: auto;
    margin-top: 5px;
}

.pending-attachments {
    margin-top: 5px;
}

.spinner {
    margin-right: 10px;
    padding: 1px;
    font-size: 13px;
}

.pending-attachments span {
    display: inline-block;
    margin: 3px;
    padding: 2px;
    background: #e2e2e2;
    border: 1px solid #b3b3b3;
    border-radius: 2px;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
    color: #777777;
}

[contenteditable=true] {
    overflow-y: auto;
}

.message {
    height: 30px !important;
    resize: none;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.room {
    padding: 5px;
    cursor: pointer;
}

.messages {
    border-left: 1px solid #337ab7;
}

.room.selected {
    background: #c0e2ff !important;
}

.room:hover {
    background: #ececec;
}

@keyframes color-fade-out {
    from {
        background-color: #fff1dc;;
    }
    to {
        background-color: #FFFFFF;
    }
}

/* The element to apply the animation to */
.message-fade-out {
    background-color: #fff1dc;
    animation-name: color-fade-out;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

.unread {
    position: absolute;
    right: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: white;
    background: red;
    border-radius: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 12;
    background: rgba(255, 255, 255, 0.73);
}

.overlay i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    font-size: 30px;
    color: #337ab7;
}
@charset "UTF-8";

/* data-table */
@font-face {
    font-family: "data-table";
    src:url("https://file.myfontastic.com/Jnf54BZCm7mSjGCxNRbfp3/fonts/1447204703.eot");
    src:url("https://file.myfontastic.com/Jnf54BZCm7mSjGCxNRbfp3/fonts/1447204703.eot?#iefix") format("embedded-opentype"),
    url("https://file.myfontastic.com/Jnf54BZCm7mSjGCxNRbfp3/fonts/1447204703.woff") format("woff"),
    url("https://file.myfontastic.com/Jnf54BZCm7mSjGCxNRbfp3/fonts/1447204703.ttf") format("truetype"),
    url("https://file.myfontastic.com/Jnf54BZCm7mSjGCxNRbfp3/fonts/1447204703.svg#1447204703") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "data-table" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "data-table" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-filter:before {
    content: "b";
}
.icon-collapse:before {
    content: "a";
}
.icon-expand:before {
    content: "c";
}
.icon-close:before {
    content: "d";
}
.icon-up:before {
    content: "e";
}
.icon-down:before {
    content: "f";
}
.icon-sort:before {
    content: "g";
}
.icon-done:before {
    content: "h";
}
.icon-done-all:before {
    content: "i";
}
.icon-search:before {
    content: "j";
}
.icon-pin:before {
    content: "k";
}
.icon-add:before {
    content: "m";
}
.icon-left:before {
    content: "o";
}
.icon-right:before {
    content: "p";
}
.icon-skip:before {
    content: "q";
}
.icon-prev:before {
    content: "r";
}