<div class="modal-header">
        <h3 class="modal-title">Message</h3>
    </div>
<div class="modal-body">
      <textarea ng-model="mailtext"  ></textarea>
    </div>
<div class="modal-footer">
    <button class="btn btn-success" type="button"
                ng-click="ok(mailtext)">ok</button>
    <button class="btn btn-warning" type="button"
                ng-click="cancel()">Cancel</button>
    </div>