<div>
    <div class="input-group">
        <input type="Search" placeholder="Search..." class="form-control" ng-model="model"/>
        <div class="input-group-btn">
            <button class="btn btn-info" ng-click="find(model)">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </div>
</div>