body {
	background-color:#eeeeee;
}
.wrapper {
	width:680px;
	margin:0 auto;
}
.header {
	padding: 5px 2%;
	margin-bottom: 10px;
}
.logo {
	width: 17%;	
}
.site-name {
    width: 35%;
    margin-bottom: 25px;
	margin-left: 8%;
}

.confirm-pass-form {
	padding:30px 3% 20px 4%;
	background-color:#fff;
	-webkit-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.46);
	box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.46);
	margin-bottom:10px;
}
.confirm-pass-form .field{
	margin-bottom:30px;
}
.confirm-pass-form .field img {
	width:6%;
	vertical-align: bottom;
}
.confirm-pass-form input[type="password"] {
	border: none;
    width: 80%;
    border-bottom: 1px solid #bbbbbb;
    height: 40px;
    margin-top: 5px;
    margin-left: 10%;
	font-size: 18px;
}
.confirm-pass-form input[type="button"] {
    display: block;
    margin: 0 auto;
    padding: 15px 60px;
    background-color: #d5d6d6;
    border: none;
    border-radius: 5px;
    font-size: 20px;
	
}
.confirm-pass-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #575757;
	font-size:18px;
	
}
.confirm-pass-form input::-moz-placeholder { /* Firefox 19+ */
	color: #575757;
	font-size:18px;
}
.confirm-pass-form input:-ms-input-placeholder { /* IE 10+ */
	color: #575757;
	font-size:18px;
}
.confirm-pass-form input:-moz-placeholder { /* Firefox 18- */
	color: #575757;
	font-size:18px;
}

@media only screen and (max-width: 690px) and (min-width: 361px) {
	input:focus {
		outline: none;
	}
	.wrapper {
		width:70%;
	}
	.site-name { 
		margin-bottom:16px;
	}
	.confirm-pass-form .field {
		margin-bottom:15px;
	}
	.header {
		margin-bottom:0;
	}
	body {
		margin:0;
	}
	.confirm-pass-form input[type="password"] { 
		height:30px;
	}
	.confirm-pass-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		font-size:16px;
	}
	.confirm-pass-form input::-moz-placeholder { /* Firefox 19+ */
		font-size:16px;
	}
	.confirm-pass-form input:-ms-input-placeholder { /* IE 10+ */
		font-size:16px;
	}
	.confirm-pass-form input:-moz-placeholder { /* Firefox 18- */
		font-size:16x;
	}
	.confirm-pass-form input[type="button"] {
		padding: 7px 45px;
		font-size: 18px;
	}
}
@media only screen and (max-width: 360px) {
	input:focus {
		outline: none;
	}
	.site-name {
		margin-bottom: 11px;
	}
	.wrapper {
		width:98%;
	}
	.confirm-pass-form .field img {
		width:7%;
		vertical-align: bottom;
	}
	.confirm-pass-form input[type="password"] {
		width: 78%;
		height: 15px;
		padding:10px 0;
	}
	.confirm-pass-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		font-size:20px;
		line-height:21px;
	}
	.confirm-pass-form input::-moz-placeholder { /* Firefox 19+ */
		font-size:20px;
		line-height:21px;
	}
	.confirm-pass-form input:-ms-input-placeholder { /* IE 10+ */
		font-size:20px;
		line-height:21px;
	}
	.confirm-pass-form input:-moz-placeholder { /* Firefox 18- */
		font-size:20px;
		line-height:21px;
	}
	.confirm-pass-form input[type="button"] {
		margin-top:50px;
	}
}