/*


    Template Name   : Capture
    Template Author : pixelhint.com
    Author Email    : contact@pixelhint.com
    License         : pixelhint.com/license
    
    
    *****************************************
    
    
    - Header
    - Hero section
    - Featured on seaction
    - About section
    - App features section
    - Testimonials section
    - Subscription section
    - Footer
    - Responsive CSS
    

*/







/*		Fonts		*/
@font-face {
    font-family: 'open_regular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_bold';
    src: url('../fonts/opensans-bold.eot');
    src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold.woff') format('woff'),
         url('../fonts/opensans-bold.ttf') format('truetype'),
         url('../fonts/opensans-bold.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_semibold';
    src: url('../fonts/opensans-semibold.eot');
    src: url('../fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold.woff') format('woff'),
         url('../fonts/opensans-semibold.ttf') format('truetype'),
         url('../fonts/opensans-semibold.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}









/*		General CSS		*/
body{
	background: #faf9f9;
	padding: 0px;
	margin: 0px;
}

a:focus{
	
	text-decoration: none!important;
}
ul.list-footer-styl li a:focus{
	color: #337ab7;
}
.container{
	max-width: 1130px;
}

.driver-reg{
	border: 1px solid #f1f1f1;
	border-radius:3px;
  -moz-box-shadow:    0 2px 5px rgba(0,0,0,0.10);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.10);
   box-shadow: 0 2px 5px rgba(0,0,0,0.10);
   margin-top: 20px;
   padding: 5px;
   width: 100%;
   padding-left:40px;
}

.small-brack{
	height: 52px;
}
.card-style{
box-shadow:0px 13px 21px -5px rgba(0, 0, 0, 0.3);
}
.card-no-selected{
	background: #fff url(../img/car.png) no-repeat center center;
	width:64px;
	height: 64px;
	display:inline-block;
	margin: 30px 0 0;
	border-radius: 50%;
	-moz-box-shadow:    0 2px 5px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.10);
    box-shadow: 0 2px 5px rgba(0,0,0,0.10);
}

.motor-no-selected{
	background: #fff url(../img/motor.png) no-repeat center center;
	width:64px;
	height: 64px;
	display:inline-block;
	margin: 30px 0 0;
	margin-left:15px;
	border-radius: 50%;
	-moz-box-shadow:    0 2px 5px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.10);
    box-shadow: 0 2px 5px rgba(0,0,0,0.10);
}
.card-no-selected:hover{
	background: #2cc3f0 url(../img/car-selected.png) no-repeat center center;
	width:64px;
	height: 64px;
	display:inline-block;
	margin: 30px 0 0;
	border-radius: 50%;
	-moz-box-shadow:    0 2px 5px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.10);
    box-shadow: 0 2px 5px rgba(0,0,0,0.10);
}
.motor-no-selected:hover{
	background: #2cc3f0 url(../img/motor-selected.png) no-repeat center center;
	width:64px;
	height: 64px;
	display:inline-block;
	margin: 30px 0 0;
	margin-left:15px;
	border-radius: 50%;
	-moz-box-shadow:    0 2px 5px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.10);
    box-shadow: 0 2px 5px rgba(0,0,0,0.10);
}

.camera-upload{
	width: 100%;
    background: #2cc3f0 url(../img/camera.png) no-repeat 20px center;
    border: 1px solid #2cc3f0;
    border-radius: 3px;
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.10);
    box-shadow: 0 5px 7px rgba(0,0,0,0.10);
    padding: 10px;
    padding-left: 70px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    text-align: left;
	margin-top:25px;
	
}

.ic1{
	background: #fff url(../img/ic1.png) 10px center no-repeat;
}
.ic2{
	background: #fff url(../img/ic2.png) 10px center no-repeat;
}
.ic3{
	background: #fff url(../img/ic3.png) 10px center no-repeat;
}
.ic4{
	background: #fff url(../img/ic4.png) 10px center no-repeat;
}
.ic5{
	background: #fff url(../img/ic5.png) 10px center no-repeat;
}
.ic6{
	background: #fff url(../img/ic6.png) 10px center no-repeat;
}
.ic7{
	background: #fff url(../img/ic7.png) 10px center no-repeat;
}
.ic8{
	background: #fff url(../img/ic8.png) 10px center no-repeat;
}
.ic9{
	background: #fff url(../img/ic9.png) 10px center no-repeat;
}
.ic10{
	background: #fff url(../img/ic10.png) 10px center no-repeat;
}
.ic11{
	background: #fff url(../img/ic11.png) 10px center no-repeat;
}
.ic12{
	background: #fff url(../img/ic12.png) 10px center no-repeat;
}
.ic13{
	background: #fff url(../img/ic13.png) 10px center no-repeat;
}
.ic14{
	background: #fff url(../img/ic14.png) 10px center no-repeat;
}
.ic15{
	background: #fff url(../img/ic15.png) 10px center no-repeat;
}
.ic16{
	background: #fff url(../img/ic16.png) 10px center no-repeat;
}
.ic17{
	background: #fff url(../img/ic17.png) 10px center no-repeat;
}

.checkbox-label{
  color: #888888;
  letter-spacing:1px;
 text-transform:uppercase;
 font-size:14px;
 font-weight:normal;
}
.driver-reg-text::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #888888;
  letter-spacing:1px;
 text-transform:uppercase;
 font-size:14px;
}

.driver-reg-text::-moz-placeholder { /* Firefox 19+ */
   color: #888888;
   letter-spacing:1px;
 text-transform:uppercase;
 font-size:14px;
}

.driver-reg-text:-ms-input-placeholder { /* IE 10+ */
  color: #888888;
  letter-spacing:1px;
 text-transform:uppercase;
 font-size:14px;
}
.driver-reg-text:-moz-placeholder { /* Firefox 18- */
 color: #888888;
 letter-spacing:1px;
 text-transform:uppercase;
 font-size:14px;
}
.driver-reg-text{
	border: 1px solid #f1f1f1;
	border-radius:3px;
  -moz-box-shadow:    0 2px 5px rgba(0,0,0,0.10);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.10);
   box-shadow: 0 2px 5px rgba(0,0,0,0.10);
   margin-top: 20px;
   padding: 10px;
   width: 100%;
	height:200px;
	overflow:auto;
}
.linkes-terms{
	color: #3bc2f4;
	text-transform:uppercase;
	font-size: 14px;
	letter-spacing:1px;
	text-decoration:underline;
	display:block;
	text-align:left;
	margin: 10px 0;
}


[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0px;
  background:#fff;
      top: 0px;
    width: 22px;
    height: 22px;
 border: 1px solid #f1f1f1;
	border-radius:3px;
  -moz-box-shadow:    0 5px 7px rgba(0,0,0,0.10);
  -webkit-box-shadow: 0 5px 7px rgba(0,0,0,0.10);
   box-shadow: 0 5px 7px rgba(0,0,0,0.10);
}

.button-done{
	background:#3bc2f4;
	border:none;
	box-shadow:none;
	width:150px;
	height:40px;
	color:#fff;
	text-transform:uppercase;
	border-radius:3px;
	-moz-box-shadow:    0 5px 7px rgba(0,0,0,0.10);
  -webkit-box-shadow: 0 5px 7px rgba(0,0,0,0.10);
   box-shadow: 0 5px 7px rgba(0,0,0,0.10);
       float: right;
    margin-top: 51px;
}

.button-cancel{
	background:#888888;
	border:none;
	box-shadow:none;
	width:150px;
	height:40px;
	color:#fff;
	text-transform:uppercase;
	border-radius:3px;
	-moz-box-shadow:    0 5px 7px rgba(0,0,0,0.10);
  -webkit-box-shadow: 0 5px 7px rgba(0,0,0,0.10);
   box-shadow: 0 5px 7px rgba(0,0,0,0.10);
       float: right;
    margin-top: 51px;
	margin-right:30px;
}
.clear{
	clear:both;
}


/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px; left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #2cc3f0;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}


.linkes-terms:hover{
	text-decoration:none;
}
.driver-reg::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #888888;
  letter-spacing:1px;
 text-transform:uppercase;
 font-size:14px;
}
.driver-reg::-moz-placeholder { /* Firefox 19+ */
   color: #888888;
   letter-spacing:1px;
 text-transform:uppercase;
 font-size:14px;
}
.driver-reg:-ms-input-placeholder { /* IE 10+ */
  color: #888888;
  letter-spacing:1px;
 text-transform:uppercase;
 font-size:14px;
}
.driver-reg:-moz-placeholder { /* Firefox 18- */
 color: #888888;
 letter-spacing:1px;
 text-transform:uppercase;
 font-size:14px;
}







/*		Header 		*/

header{
	position: relative;
	display: block;
	width: 100%;
	height: 130px;
	z-index: 99;
	background-color: #2cc3f0;
	/*background-image: -moz-linear-gradient(bottom, #47ad76 0%, #47ad76 0.27%, #40c27d 99.46%, #40c27d 100%);
	background-image: -o-linear-gradient(bottom, #47ad76 0%, #47ad76 0.27%, #40c27d 99.46%, #40c27d 100%);
	background-image: -webkit-linear-gradient(bottom, #47ad76 0%, #47ad76 0.27%, #40c27d 99.46%, #40c27d 100%);
	background-image: linear-gradient(bottom, #47ad76 0%, #47ad76 0.27%, #40c27d 99.46%, #40c27d 100%);*/
}

header .logo{
	display: table-cell;
	margin: 20px 20px 0 0;
}

header .burger_icon{
	display: none;
	float: right;
	background: #ffffff;
	padding: 5px 10px;
	text-transform: uppercase;
	color: #2cc3f0;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 14px;

	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;

	margin: 45px 10px 0 0;
}

header .burger_icon:hover{
	cursor: pointer;
}

header .burger_icon.active{
	background: #008ab3;
	color: #ffffff;
}
.price-text{
    display: inline-block;
    margin-top: 60px;
    text-align: center;
    font-size: 18px;
}
header nav{
	margin-top: 50px;
	display: table-cell;
}

header nav li{
	float: left;
	margin-left: 20px;
}

header nav li:first-child{
	margin: 0;
}

header nav li a{
	color: #fff;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 16px;

	transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
}

header nav li a:hover,
header nav li a:focus{
	text-decoration: none;
	color: #B7EFD1!important;
}

header .social{
	display: table-cell;
	margin-top: 45px;
}

header .social li{
	float: left;
	margin-left: 20px;
}

header .social li:first-child{
	margin: 0;
}

footer .list-footer-style.app_platform li{
	margin:0;
}
.btn-center{
	text-align:center;
}


.pricing-option {
    background-color: #ffffff;
    border-radius: .75em;
}

.pricing-option--basic .pricing-option__header {
    background-color: #2cc3f0;
    background-image: -webkit-linear-gradient(#2cc3f0, #2cc3f0);
    background-image: linear-gradient(#2cc3f0, #2cc3f0);
}

.pricing-option__name {
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    color: rgba(255,255,255,0.6);
}
.pricing-option__price {
    font-size: 3em;
    line-height: 1;
    font-weight: 400;
    margin: 0;
    color: #fff;
}
.pricing-option--basic .pricing-option__price {
    text-shadow: 0 0 3px #4ea6c5;
}

.pricing-option__details {
    padding: 1.5em;
}

.pricing-option__features {
    list-style: none;
    margin-bottom: 1.5em;
    padding-left: 0;
    margin-top: 0;
    min-height: 150px;
	    font-size: 16px;
    color: #525151;
}
.pricing-option__details span.initial-text{
	display:inline-block;
	margin-bottom:30px;
}
.pricing-option__details li {
    margin-bottom: .5em;
}
.pricing-option__features .u-block {
    color: rgba(153,153,153,0.6);
    font-size: .75em;
}
.pricing-option__details li {
    margin-bottom: .5em;
}
.btn-primary, .hubspotContainer input[type="submit"] {
    color: #fff;
    background-color: #00C8A0;
    border-radius: 4px;
}
.pricing-option--pro {
    margin-top: -1.25em;
}
.pricing-option--pro .pricing-option__header {
    background-color: #255e90;
    background-image: -webkit-linear-gradient(#255e90, #2a6ba4);
    background-image: linear-gradient(#255e90, #2a6ba4);
}
.pricing-option__recommended {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(245,245,245,0.6);
    padding: .25em .5em;
    color: #255e90;
    font-size: .875em;
    border-top-right-radius: .75em;
    border-bottom-left-radius: .5em;
}

.pricing-option--basic .pricing-option__price {
    text-shadow: 0 0 3px #4ea6c5;
}
.pricing-option__header {
    text-align: center;
    padding: 1.5em;
    border-top-left-radius: .75em;
    border-top-right-radius: .75em;
    position: relative;
}

.pricing-option__name {
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    color: rgba(255,255,255,0.6);
}
.pricing-option__price {
    font-size: 1.6em;
    line-height: 1;
    font-weight: 400;
    margin: 0;
    color: #fff;
}
.pricing-option--pro .pricing-option__price {
    text-shadow: 0 0 3px #20517c;
}




/*		Hero section 		*/

.hero{
	display: block;
	position: relative;
	width: 100%;
	height: 560px;
	background: url('../img/hero.png') no-repeat fixed center center;	
	background-size: cover;
}

.hero .caption{
	position: absolute;
	max-width: 550px;
	margin-left: 80px;
	top: 50%;
	transform:translate(0,-50%);
	-webkit-transform:translate(0,-50%);
	-moz-transform:translate(0,-50%);
	-o-transform:translate(0,-50%);
}

.hero .caption h1{
	color: #fff;
	font-family: "open_bold", Helvetica, Arial, sans-serif;
	font-size: 34px;
	font-weight: bold;
	word-break: break-word;
}

.hero .caption p{
	color: #fff;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 30px;
	margin: 15px 0 35px 0;
}

#slider .caption p{
	margin: 0;
}

.row a.app_store_btn{
	display: inline-block;
	text-decoration: none;
	padding: 15px 40px;
	border: 2px solid #2dc0f6;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin: 20px 20px 50px 0;

	color: #2dc0f6;
	font-family: "open_semibold", Helvetica, Arial, sans-serif;
	font-size: 16px;
}
.row a.app_store_bt:hover{
	border: 2px solid #1789ce;
	color: #1789ce !important;
}
.row a.app_store_btn:hover,.row a.app_store_btn:focus{
	color: #1789ce !important;
	}
a.app_store_btn{
	display: inline-block;
	text-decoration: none;
	padding: 15px 40px;
	border: 2px solid #ffffff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin: 20px 20px 10px 0;

	color: #ffffff;
	font-family: "open_semibold", Helvetica, Arial, sans-serif;
	font-size: 16px;
}
.row a.app_store_bt2:hover{
	border: 2px solid #1789ce;
	color: #1789ce !important;
}
a.app_store_btn2{
	display: inline-block;
	text-decoration: none;
	padding: 15px 40px;
	border: 2px solid #2dc0f6;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin: 10px;

	color: #2dc0f6;
	font-family: "open_semibold", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.play_icon,
.android_icon,
.iphone_icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 20px;
	margin-bottom: 3px;
}

.play_icon{
	background: url('../img/play.png') no-repeat;
}

.iphone_icon{
	background: url('../img/iphone_app.png') no-repeat;
}

.android_icon{
	background: url('../img/android_app.png') no-repeat;
}


a.app_store_btn:hover,
a.app_store_btn:focus{
	border-color: #2cb9ed;
	color: #ffffff!important;
}

a.app_store_btn:hover .play_icon{
	background: url('../img/play_hover.png') no-repeat;
}

a.app_store_btn:hover .iphone_icon{
	background: url('../img/iphone_app_hover.png') no-repeat;
}

a.app_store_btn:hover .android_icon{
	background: url('../img/android_app_hover.png') no-repeat;
}

a.app_link{
	text-transform: lowercase;
	letter-spacing: .5px;
	color: #636363;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

a.app_link:hover,
a.app_link:focus{
	text-decoration: none;
	color: #1789ce!important;
}

a.app_store_btn,
.play_icon,
.iphone_icon,
.android_icon,
a.app_link{
	transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
}


.about_video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, .8);
    display: none;
}

.about_video iframe{
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.close_video{
    text-decoration: none;
    position: absolute;
    width: 38px;
    height: 38px;
    top: 50px;
    right: 50px;
    background: url('../img/close_video.png') no-repeat;
    z-index: 9999;
}











/*		Featured on section 		*/

.featured_on{
	width: 100%;
	padding: 5px 0;
	background: #30c1f6;
}

.featured_on ul{
	margin: 0;
}

.featured_on li{
	position: relative;
	height: 100%;
}

.featured_on li:first-child{
	margin-left: 0;
}










/*		About section 		*/

.about{
	padding: 100px 0;
}

.about .iphone{
	max-width: 339px;
	position: relative;
	display: inline-block;
	text-align: center;
}

.about .iphone img{
	width: 100%;
	height: auto;
}

.about .features_list{
	margin-left: 50px;
}

.about .features_list h1{
	color: #525151;
	font-family: "open_bold", Helvetica, Arial, sans-serif;
	font-size: 34px;
	font-weight: bold;
	line-height: 46px;
	margin: 0 0 20px 0;
	word-break: break-word;
}

.about .features_list p{
	color: #767272;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin-bottom: 0px;
	line-height: 32px;
}

.about .features_list ul{
	margin-bottom: 30px;
}

.about .features_list ul li{
	display: block;
	position: relative;
	color: #6c6c6c;
	font-family: "open_semibold", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 44px;
	text-indent: 25px;

	transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
}

.about .features_list ul li.camera_icon{	
	background: url('../img/icon1.png') no-repeat;
	background-position: 0 15px; 
}

.about .features_list ul li.video_icon{	
	background: url('../img/icon2.png') no-repeat;
	background-position: 0 15px; 
}

.about .features_list ul li.eye_icon{	
	background: url('../img/icon3.png') no-repeat;
	background-position: 0 14px; 
}

.about .features_list ul li.pic_icon{	
	background: url('../img/icon4.png') no-repeat;
	background-position: 0 14px; 
}

.about .features_list ul li.loc_icon{	
	background: url('../img/icon5.png') no-repeat;
	background-position: 3px 13px; 
}

.about .features_list ul li span{
	display: inline-block;
}










/*		App features 		*/

.app_features{
	width: 100%;
	padding: 100px 0 20px 0;
	background-color: #2cc3f0;
	/*background-image: -moz-linear-gradient(bottom, #47ad76 0%, #47ad76 0.27%, #40c27d 99.46%, #40c27d 100%);
	background-image: -o-linear-gradient(bottom, #47ad76 0%, #47ad76 0.27%, #40c27d 99.46%, #40c27d 100%);
	background-image: -webkit-linear-gradient(bottom, #47ad76 0%, #47ad76 0.27%, #40c27d 99.46%, #40c27d 100%);
	background-image: linear-gradient(bottom, #47ad76 0%, #47ad76 0.27%, #40c27d 99.46%, #40c27d 100%);*/
}

.app_features h1{
	color: #fff;
	font-family: "open_semibold", Helvetica, Arial, sans-serif;
	font-size: 20px;
	margin: 50px 0 0 0;
	word-break: break-word;
}

.app_features p{
	color: #fff;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin: 30px 0 0 0;
	line-height: 28px;
}

.app_features .details{
	margin-bottom: 80px;
}

.app_features .details:nth-child(3n+1){
	clear: both;
}










/*		Testimonials section 		*/

.testimonials{
	padding: 100px 0;
}

.testimonials .testimonials_list{
	max-width: 820px;
	margin: 0 auto;
}

.testimonials .testimonials_list blockquote{
	border: 0;
	padding: 0;
	margin: 0;
}

.testimonials .testimonials_list blockquote p{
	color: #757171;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 18px;
	margin-bottom: 50px;
	line-height: 36px;
}

.testimonials .testimonials_list blockquote footer:before,
.testimonials .testimonials_list blockquote footer:after{
	content: none;
}

.testimonials .testimonials_list blockquote .author,
.testimonials .testimonials_list blockquote .job{
	display: block;
}

.testimonials .testimonials_list blockquote .author{
	color: #4b4848;
	font-family: "open_semibold", Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin-bottom: 10px; 
}

.testimonials .testimonials_list blockquote .job{
	color: #6e6d6d;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.#tslider{
	text-align: center!important;
	position: relative!important;
}

#tslider .owl-controls{
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 40px;
	padding: 0;
}

#tslider .owl-controls .owl-prev,
#tslider .owl-controls .owl-next{
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url('../img/nav_arrow.png') no-repeat;
	text-indent: -200px;
	overflow: hidden;

	transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
}

#tslider .owl-controls .owl-prev{
	background-position: 0 0;
}
#tslider .owl-controls .owl-next{
	background-position: -33px 0;
	margin-left: 40px;
}

#tslider .owl-controls .owl-prev:hover,
#tslider .owl-controls .owl-next:hover{
	cursor: pointer;
	background: url('../img/nav_arrow_hover.png') no-repeat;
}

#tslider .owl-controls .owl-prev:hover{
	background-position: 0 0;
}
#tslider .owl-controls .owl-next:hover{
	background-position: -33px 0;
}










/*		Subscription section 		*/

.sub_box{
	width: 100%;
	padding: 100px 0;
	text-align: center;
	background-color:#0476bd;
	/*background-image: -moz-linear-gradient(bottom, #47ad76 0%, #47ad76 0.27%, #40c27d 99.46%, #40c27d 100%);
	background-image: -o-linear-gradient(bottom, #47ad76 0%, #47ad76 0.27%, #40c27d 99.46%, #40c27d 100%);
	background-image: -webkit-linear-gradient(bottom, #47ad76 0%, #47ad76 0.27%, #40c27d 99.46%, #40c27d 100%);
	background-image: linear-gradient(bottom, #47ad76 0%, #47ad76 0.27%, #40c27d 99.46%, #40c27d 100%);*/
}

.sub_box .cta_text{
	color: #fff;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 20px;
	margin-bottom: 50px;
}
.input-style {
    width: 100% !important;
    height: 50px;
    padding: 0 20px;
    background-color: #fff;
    border-radius: 2px;
    color: #41c17d;
    border: none;
    margin-bottom: 10px;
    font-family: "open_regular", Helvetica, Arial, sans-serif;
    text-align: left !important;
}

.textarea-style{
	width: 100%;
	height: 130px;
	padding: 0 20px;
	background-color: #fff;
	border-radius:2px;
	color: #41c17d;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	border: none;
    margin-bottom: 10px;
}
/*.sub_box #mc-email{
	display: inline-block;
	width: 300px;
	height: 50px;
	padding: 0 20px;
	background-color: #fff;
	border: 0;
	outline: none;
	margin-right: -4px;
	color: #41c17d;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 14px;
	vertical-align: middle;

	border-top-left-radius: 2px;
	-o-border-top-left-radius: 2px;
	-moz-border-top-left-radius: 2px;
	-webkit-border-top-left-radius: 2px;

	border-bottom-left-radius: 2px;
	-o-border-bottom-left-radius: 2px;
	-moz-border-bottom-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;

	
}
*/
.sub_box #mc_submit {
    display: inline-block;
    /* width: 60px; */
    height: 50px;
  	border-radius:2px;
    background-color: #fff;
    border: 0;
    outline: none;
    margin-right: -4px;
    text-align: center;
    vertical-align: middle;
    padding: 10px 20px 10px 30px ;
    color: #0476bd;
}

.sub_box #mc_submit i{
	display: inline-block;
	width: 20px;
	height: 14px;
	vertical-align: middle;
}

#mc_submit i.icon{
	background: url('../img/sub_icon.png') no-repeat;
	margin-left:20px;
}

#mc_submit i.loading{
	background: url('../img/loading.gif') no-repeat;
}

.sub_box .message{
	display: block;
	text-align: center;
	color: #fff;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 13px;
	text-transform: lowercase;
	margin-top: 20px;
}

.sub_box #error_msg,
.sub_box #success_msg{
	display: none;
}










/*		Footer 		*/

footer{
	padding: 100px 0;
	text-align: center;
}

footer .app_platform li{
	margin: 0 0 0 60px;
}

footer .app_platform li:first-child{
	margin: 0;
}

footer .copyright{
	margin-top: 60px;
	color: #757171;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 12px;
	letter-spacing: .5px;
}

footer .copyright a{
	color: #565555;
}









/*		Responsive CSS 		*/

@media (max-width: 360px) {
	.featured_on li{
		display: block;
		width: 100%;
	}
}

@media (max-width: 767px) {
	.hero .caption h1{
		font-size:21px;
	}
	.hero .caption p {
    color: #fff;
    font-family: "open_regular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: normal;
    margin: 15px 0 35px 0;
}
.about {
    padding: 30px 0;
}
.pricing-option.pricing-option--basic.card-style{
	margin-bottom:30px;
}
.testimonials {
    padding: 30px 0;
}
.sub_box #mc_submit {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}
button.mc_submit{
	text-align:center;
}
	/*		Header 		*/
	header .logo{
		margin-right: 0;
	}

	header .burger_icon{
		display: block;
	}

	header nav{
		width: 100%;
		float: none;
		background: #2cc3f0;
		position: absolute;
		margin-top: 130px;
		left: 0;
		display: none;
	}

	header nav.show{
		display: block;
	}


	header nav li{
		display: block;
		width: 100%;
		margin: 0;
		text-align: center;
	}

	header nav li a{
		display: block;
		width: 100%;	
		padding: 20px 0;
		border-bottom: 1px solid #ffffff;
	}

	header nav li:first-child a{
		border-top: 1px solid #2cc3f0;
	}

	header .social{
		display: none;
	}

	header .social li{
		margin-left: 10px;
	}






	/*		Hero section 		*/
	.hero .caption{
		margin-left: 0;
	}

	.app_store_btn{
		display: block;
		width: 90%;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}





	/*		Featured on section		*/
	.featured_on{
		padding: 25px 0 5px 0!important;
	}

	.featured_on ul li{
		margin-bottom: 25px!important;
	}






	/*		About Section 		*/
	.about .features_list {
		text-align: center;
		margin: 0;
	}

	.about .features_list ul li{
		text-indent: 0;
		background: transparent!important;
		margin-bottom: 20px;
	}

	.about .features_list ul li:last-child{
		margin: 0;
	}

	a.app_link{
		display: block;
		margin-top: 20px;
	}






	/*		Subscription section 		*/
	.sub_box #mc-email,
	.sub_box #mc_submit{
		display: block;
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}

	.sub_box #mc_submit{
		margin-top: 20px;
	}
}
