<div class="bottom10 auto">
    <div class="col-xs-12">
        <div class="col-xs-4">{{isDriver ? 'Customer' : 'Driver'}}</div>
        <div class="col-xs-8"><a href="user/{{target._id}}">{{target.fieldname || target.email}}</a></div>
    </div>
    <div class="col-xs-12 top10">
        <div class="col-xs-4">Mark</div>
        <div class="col-xs-8">
            <feedback max="5" mark="feedback.mark"></feedback>
        </div>
    </div>
    <div class="col-xs-12 top10">
        <div class="col-xs-4">Comment</div>
        <div class="col-xs-8 visible-text f-comment">
            {{feedback.comment}}
        </div>
    </div>
</div>