<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Feedback list</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="feedbacks-grid">
        <div>
            <div class="col-xs-4">
                <span class="labeling">From </span>
            </div>
            <div class="col-xs-3">
                <span class="labeling">Mark </span>
            </div>
            <div class="col-xs-5">
                <span class="labeling">Comment</span>
            </div>
        </div>
        <div ng-repeat="f in user.feedbacks">
            <div class="col-xs-4">
                <span><a href="user/{{f.from.id}}">{{f.from.email}}</a></span>
            </div>
            <div class="col-xs-3">
                <feedback mark="f.feedback.mark"></feedback>
            </div>
            <div class="col-xs-5">
                <span>{{f.feedback.comment}}</span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="closeFeedbacks()">OK</button>
</div>