input.ng-invalid {
    border: 1px solid #E81111 !important;
}

.capitalize {
    text-transform: capitalize;
}

.simple-margin {
    margin-top: 15px;
}

.pointer {
    cursor: pointer;
}

.step, .info-container, .history {
    padding-left: 10px;
}

.step .form-group {
    margin-bottom: 5px;
}

.step .step-container {
    padding-left: 10px;
}

.step img {
    margin: 2px;
}

.comment {
    padding: 10px;
    border: 1px solid #DADADA;
    margin-top: 5px;
}

.admin-comments textarea {
    margin-top: 5px;
}

.admin-comments button {
    margin-top: 5px;
}

.error-message {
    color: #D65D5D;
}

body {
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif !important;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.01rem;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
}

.dt {
    width: 100%;
    margin: 50px auto;
}

.dt .pager li > a, .pager li > span {
    border: none !important;
}

.dt .pager li {
    float: left;
}

.dt [class^="icon-"]:before, [class*=" icon-"]:before {
    line-height: 26px;
}

.feedback {
    font-size: 20px;
    color: #ffe400;
}

.top5 {
    margin-top: 5px;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top30 {
    margin-top: 30px;
}

.bottom5 {
    margin-bottom: 5px;
}

.bottom10 {
    margin-bottom: 10px;
}

.bottom15 {
    margin-bottom: 15px;
}

.bottom30 {
    margin-bottom: 30px;
}

.visible-text {
    word-break: break-word;
}

.auto {
    overflow: auto;
}

.click-like {
    color: #337ab7;
    cursor: pointer;
}

.popover {
    max-width: 350px !important;
}

.heading {
    font-size: 18px;
    color: #bbbbbb;
    font-weight: bolder;
}

.left-span {
    float: left;
    margin-right: 20px;
}

.little-square {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.inline-block {
    display: inline-block;
}

.labeling {
    color: #6d6d6d;
}

.span60 {
    display: inline-block;
    width: 60px;
}

.f-comment {
    padding: 5px;
    background: #ececec;
    border-radius: 10px;
}

.dt {
    margin-bottom: 0;
}

.dt-total {
    margin: 0 auto 50px;
    padding: .5rem 1.2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 16px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.dt-header-custom + .dt {
    margin-top: 0 !important;
}

.date-picker .picker {
    z-index: 9999999 !important;
}

.unused {
    background: #337ab7 !important;
}

ob-daterangepicker * {
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif !important;
}

.add-on .input-group-btn > .btn {
    border-left-width: 0;
    left: -2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* stop the glowing blue shadow */
.add-on .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #cccccc;
}

.input-group-btn .btn {
    height: 34px;
}

/*override some extensions*/
ob-daterangepicker .picker-dropdown-container .picker-dropdown {
    border: none !important;
}

ob-daterangepicker .picker-dropdown-container .picker-dropdown::after {
    border-color: #fff transparent transparent !important;
}

ob-daterangepicker {
    background: #286090;
    color: #fff;
    width: 100%;
}

ob-daterangepicker .ranges {
    color: #565154
}

.date-picker .input-group-btn .btn {
    height: 30px;
}

ob-daterangepicker .picker-dropdown-container .picker-dropdown {
    width: 100% !important;
}

.feedbacks-grid {
    overflow-y: scroll;
    max-height: 350px;
}

.word-break {
    word-break: break-all;
}

.claim-label {
    display: inline-block;
    margin: 4px;
}

.driver-photos > img {
    display: none;
    margin: 2px;
    width: 130px;
    height: 130px;
    cursor: pointer;
}

.driver-photos img:nth-child(1) {
    display: initial !important;
}

.video_box {
    position:relative;
    margin: 2px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}



.no-border-radius {
    border-radius: 0;
}
.advertismentImg
{
    height: 50px;
    width: 50px;
}