@charset "UTF-8";

/* data-table */
@font-face {
    font-family: "data-table";
    src:url("https://file.myfontastic.com/Jnf54BZCm7mSjGCxNRbfp3/fonts/1447204703.eot");
    src:url("https://file.myfontastic.com/Jnf54BZCm7mSjGCxNRbfp3/fonts/1447204703.eot?#iefix") format("embedded-opentype"),
    url("https://file.myfontastic.com/Jnf54BZCm7mSjGCxNRbfp3/fonts/1447204703.woff") format("woff"),
    url("https://file.myfontastic.com/Jnf54BZCm7mSjGCxNRbfp3/fonts/1447204703.ttf") format("truetype"),
    url("https://file.myfontastic.com/Jnf54BZCm7mSjGCxNRbfp3/fonts/1447204703.svg#1447204703") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "data-table" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "data-table" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-filter:before {
    content: "b";
}
.icon-collapse:before {
    content: "a";
}
.icon-expand:before {
    content: "c";
}
.icon-close:before {
    content: "d";
}
.icon-up:before {
    content: "e";
}
.icon-down:before {
    content: "f";
}
.icon-sort:before {
    content: "g";
}
.icon-done:before {
    content: "h";
}
.icon-done-all:before {
    content: "i";
}
.icon-search:before {
    content: "j";
}
.icon-pin:before {
    content: "k";
}
.icon-add:before {
    content: "m";
}
.icon-left:before {
    content: "o";
}
.icon-right:before {
    content: "p";
}
.icon-skip:before {
    content: "q";
}
.icon-prev:before {
    content: "r";
}